.motion-demos-lead, .motion-demos-sublead, .animation-list.one > li:nth-child(1), .animation-list.one > li:nth-child(2), .animation-list.one > li:nth-child(3), .animation-list.one > li:nth-child(4), .animation-list.two > li:nth-child(1), .animation-list.two > li:nth-child(2), .animation-list.two > li:nth-child(3){
  animation-play-state: paused;
  animation-fill-mode: both;
}

.is-animating .motion-demos-lead, .is-animating .motion-demos-sublead, .is-animating .animation-list.one > li:nth-child(1), .is-animating .animation-list.one > li:nth-child(2), .is-animating .animation-list.one > li:nth-child(3), .is-animating .animation-list.one > li:nth-child(4), .is-animating .animation-list.two > li:nth-child(1), .is-animating .animation-list.two > li:nth-child(2), .is-animating .animation-list.two > li:nth-child(3) {
  animation-play-state: running;
}
/* Moyion Added to headers*/
.motion-demos {
  background: #008CBA url("http://zurb.com/playground/uploads/upload/upload/407/stars.svg");
  background-color: #074e68 !important;
  padding: 2rem;
  overflow: hidden;
  height: 100vh;
}

.motion-demos-lead,
.motion-demos-sublead {
  text-align: center;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  color: white;
}

.motion-demos-lead {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.motion-demos-sublead {
  margin-bottom: 3rem;
}
.motion-demos-lead {
  animation-name: custom-2;
  animation-duration: 400ms;
  animation-delay: 1.5s;
}
@keyframes custom-2 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.motion-demos-sublead {
  animation-name: custom-3;
  animation-duration: 400ms;
  animation-delay: 1.9s;
}
@keyframes custom-3 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Animation List*/
.animation-list {
  margin-left: 0;
  list-style-type: none;
  opacity: 0.75;
}
.animation-list > li {
  margin-bottom: 1rem;
}
.animation-list p {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  color: #fff;
}
.animation-list label {
  color: #fff;
}
.animation-list input[type="radio"] {
  margin-bottom: 0;
  position: relative;
  top: -1px;
}
.animation-list hr {
  margin: 10px 0;
}
.animation-list a {
  color: #fff;
  transition: transform 0.25s ease;
  display: block;
}
.animation-list a:hover {
  transform: translateX(5px);
}

input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* animation-list left side */
.animation-list.one > li:nth-child(1) {
  animation-name: custom-4;
  animation-duration: 400ms;
  animation-delay: 2.3s;
}
.animation-list.one > li:nth-child(2) {
  animation-name: custom-4;
  animation-duration: 400ms;
  animation-delay: 2.4s;
}
.animation-list.one > li:nth-child(3) {
  animation-name: custom-4;
  animation-duration: 400ms;
  animation-delay: 2.5s;
}
.animation-list.one > li:nth-child(4) {
  animation-name: custom-4;
  animation-duration: 400ms;
  animation-delay: 2.6s;
}

/* animation-list right side */
.animation-list.two > li:nth-child(1) {
  animation-name: custom-4;
  animation-duration: 400ms;
  animation-delay: 2.7s;
}
.animation-list.two > li:nth-child(2) {
  animation-name: custom-4;
  animation-duration: 400ms;
  animation-delay: 2.8s;
}
.animation-list.two > li:nth-child(3) {
  animation-name: custom-4;
  animation-duration: 400ms;
  animation-delay: 2.9s;
}

@keyframes custom-4 {
  0% {
    transform: perspective(2000px) rotateY(90deg);
    transform-origin: center;
    opacity: 0;
  }
  100% {
    transform: perspective(2000px) rotate(0deg);
    opacity: 1;
  }
}


